.container {
    display: flex;
    justify-content: center; /* Horizontally center the table */
    align-items: center;     /* Vertically center the table */
    min-height: 100vh;       /* Full-height container */
    flex-direction: column;  /* Stack items vertically */
}

.loading, .error {
    text-align: center;
    font-size: 1.5rem;
}

/* Title Style */
.table-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333; /* Change to a lighter color for dark mode */
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #f8f9fa; /* Change for dark mode */
}

/* Table Style */
.project-table {
    width: 80%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.project-table tbody tr {
    background-color: #f8f9fa;
    height: 60px;
    color: #333;
}

.project-table tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.dark .project-table tbody tr {
    background-color: #2b2b2b;
    color: #f8f9fa;
}

.dark .project-table tbody tr:nth-child(even) {
    background-color: #3b3b3b;
}

.project-table th, .project-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease-in-out;
    vertical-align: middle;
}

.project-table th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border: none;
}

.project-table tbody tr:hover {
    background-color: #d1ecf1;
    cursor: pointer;
}

.dark .project-table tbody tr:hover {
    background-color: #555;
}

.project-status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    min-width: 80px;
}

.status-completed {
    background-color: #28a745;
}

.status-in-progress {
    background-color: #f11c1c;
}

.status-on-hold {
    background-color: #fa851f;
}

@media (max-width: 768px) {
    .project-table {
        width: 100%;
    }
}
