.table-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: transparent;
}

.data-table th, .data-table td {
    text-align: left;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease-in-out;
}

.dark .table-title {
    color: white;
    background: #1e2529 !important;
}

.dark .data-table th {
    background-color: #2a2a2a;
    color: white;
}

.dark .data-table tbody tr {
    background-color: #2a2a2a;
}

.dark .data-table tbody tr:nth-child(even) {
    background-color: #3a3a3a;
}

.dark .data-table tbody tr:hover {
    background-color: #555;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-container button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark .pagination-container button {
    background-color: #444;
    color: white;
}

.dark .pagination-container button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .data-table {
        width: 100%;
    }
}
