.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.loading, .error {
    text-align: center;
    font-size: 1.5rem;
}

.holiday-table {
    width: 80%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #f8f9fa;
}

.holiday-table th, .holiday-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    transition: background-color 0.2s ease-in-out;
}

.holiday-table th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border: none;
}

.holiday-table tbody tr {
    background-color: #f8f9fa;
}

.holiday-table tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.holiday-table tbody tr:hover {
    background-color: #d1ecf1;
    cursor: pointer;
}


.holiday-table th, .holiday-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.no-data {
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .holiday-table {
        width: 100%;
    }
}
